static/css/font-awesome.min.css linguist-vendored=true
static/css/milligram.min.css linguist-vendored=true
static/css/normalize.css linguist-vendored=true
static/css/style.css linguist-vendored=true
static/css/jquery.fancybox.min.css linguist-vendored=true
static/css/plyr.css linguist-vendored=true

static/js/jquery-3.1.1.min.js linguist-vendored=true
static/js/underscore-min.js linguist-vendored=true
static/js/filesize.min.js linguist-vendored=true
static/js/jquery.fancybox.min.js linguist-vendored=true
static/js/static/js/plyr.js linguist-vendored=true
static/js/static/js/fuse.min.js linguist-vendored=true
