vendor/* linguist-vendored
static/css/font-awesome.min.css linguist-vendored
static/css/milligram.min.css linguist-vendored
static/css/normalize.css linguist-vendored
static/css/style.css linguist-vendored
static/js/jquery-3.1.1.min.js linguist-vendored

*.css linguist-vendored
*.js linguist-vendored



