html, body {
  height: 100%;
  padding: 0px !important;
  margin: 0px !important; }

a {
  color: #42A5F5; }

table {
  font-size: 90%; }
  table td {
    padding: 3px; }

::-webkit-input-placeholder {
  color: white;
  font-style: italic; }

:-moz-placeholder {
  color: white;
  opacity: 1;
  font-style: italic; }

::-moz-placeholder {
  color: white;
  opacity: 1;
  font-style: italic; }

:-ms-input-placeholder {
  color: white;
  font-style: italic; }

header {
  background-color: #2196F3;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  color: #ffffff;
  padding-left: 15px; }
  header button {
    margin-top: 5px;
    background-color: #51adf6;
    border-color: #51adf6;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
    font-size: 2rem; }
    header button i {
      color: white; }
  header button:focus {
    background-color: #51adf6 !important;
    border-color: #51adf6 !important; }
  header button:hover {
    background-color: #39a1f4 !important;
    border-color: #6ab8f7 !important; }
  header a {
    color: #cccccc; }
  header a:hover {
    color: white; }
  header #current-path {
    top: -3px;
    left: 10px;
    position: relative; }
  header .path-segment {
    color: #eeeeee; }

#main {
  background-color: #ffffff;
  float: right;
  margin-top: 40px; }

#sidebar {
  background-color: #ffffff;
  width: 350px;
  float: left;
  position: fixed;
  overflow-y: auto;
  top: 40px;
  bottom: 0;
  padding: 10px; }

#split-bar {
  background-color: #cccccc;
  min-height: 100%;
  position: fixed;
  top: 40px;
  width: 6px;
  float: left;
  cursor: col-resize;
  margin-left: 350px; }

#split-bar:hover {
  background-color: gray; }

#main {
  background-color: #ffffff;
  float: right;
  margin-top: 40px; }
  #main #files {
    margin-top: 30px;
    padding: 10px; }
  #main #search-bar {
    position: fixed;
    width: 100%;
    background-color: #0d8aee;
    color: white;
    padding: 5px;
    padding-left: 10px; }
    #main #search-bar i {
      float: left;
      margin-top: 7px;
      font-size: 90%; }
    #main #search-bar input {
      border: none;
      color: white;
      margin: 0px;
      font-size: 12px;
      height: 2.5rem;
      width: 90%; }

.icon-dir {
  color: #aaaaaa; }

.icon-vid {
  color: #B71C1C; }

.icon-img {
  color: #0288D1; }

.icon-txt, .icon-pdf {
  color: #666666; }
