<!DOCTYPE html>
<html>
<head>
    <title>Fileport - Error</title>

    <link rel="stylesheet" href="static/css/normalize.css" />
    <link rel="stylesheet" href="static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/fonts.css" />
    <link rel="stylesheet" href="static/css/error.css" />

    <script type="text/javascript" src="static/js/jquery-3.1.1.min.js"></script>
</head>
<body>

<div id="back">
    <a href="/"><i class="fa fa-times" aria-hidden="true"></i></a>
</div>

<div class="center">
    <div id="error-title">
        {{.title}}
    </div>

    <div id="error-msg">
        {{.msg}}
    </div>
</div>


</body>
</html>