<!DOCTYPE html>
<html>
<head>
    <title>Fileport</title>

	<link rel="stylesheet" href="static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/fonts.css" />
    <link rel="stylesheet" href="static/css/milligram.min.css" />
    <link rel="stylesheet" href="static/css/style.css" />

    <script type="text/javascript" src="static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
</head>
<body>

<header>header</header>

<!-- sidebar -->
<div id="sidebar"> 
	<h3><i class="fa fa-file" aria-hidden="true"></i> Sidebar</h3>

</div>
<div id="split-bar"></div>
<!-- /sidebar -->

<!-- main -->
<div id="main">
	<h3><i class="fa fa-file" aria-hidden="true"></i> Main</h3>

</div> 
<!-- /main -->

<!-- footer -->
<footer>
	
</footer>
<!-- /footer -->

</body>
</html>