<!DOCTYPE html>
<html>
<head>
    <title>Fileport</title>

    <link rel="stylesheet" href="public/css/milligram.min.css" />
    <link rel="stylesheet" href="public/css/style.css" />

    <script type="text/javascript" src="public/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="public/js/script.js"></script>
</head>
<body>

<!-- sidebar -->
<div id="sidebar"> 
	sidebar
</div>
<div id="split-bar"></div>
<!-- /sidebar -->

<!-- main -->
<div id="main">
	main
</div> 
<!-- /main -->

<!-- footer -->
<footer>
	
</footer>
<!-- /footer -->

</body>
</html>