<!DOCTYPE html>
<html>
<head>
    <title>Fileport - Login</title>

	<link rel="stylesheet" href="static/css/normalize.css" />
	<link rel="stylesheet" href="static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/fonts.css" />
    <link rel="stylesheet" href="static/css/login.css" />

    <script type="text/javascript" src="static/js/jquery-3.1.1.min.js"></script>
</head>

<body id=login-body>

<div class="login-container">
    <div id="login">
        <form method="POST" action="login">
            <p>
                <span class="fa fa-lock"></span>
                <input type="password" name="code" placeholder="Passcode">
            </p>
            <p><input type="submit" value="Sign In"></p>
        </form>
    </div> 
</div>  

</body>
</html>